.EvenementCard {
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  width: 90%;
  align-items: center;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #666677;
  font-size: 0.75em;
  background-color: var(--primary-color);
  color: var(--brighter-color);
  margin-bottom: 2rem;
}

.EvenementCard h3 {
  padding: 20px;
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: 1.2em;
  color: var(--brighter-color);
}

.photo {
  max-width: 300px;
  padding: 10px;
}

.description-event {
  overflow: auto;
  height: 10rem;
  text-align: justify;
  margin: 1rem;
}

.AwesomeIcon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1rem;
  text-align: center;
}

p {
  margin-bottom: 2rem;
}

.KidandFree {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Icon {
  height: 1.5rem;
}

a {
  color: var(----darker-color);
  text-decoration: none;
}
.nom-lieu {
  height: 2rem;
}

.buttonecard {
  width: 200px;
  height: 50px;
  font-family: var(--title-font);
  text-align: center;
  background: #666677;
  background: linear-gradient(0deg, #ddaa88 0%, #f7cfb5 100%);
  border-radius: 5px;
  margin: 10px;
}

.buttonecard:hover {
  background: #666677;
  background: linear-gradient(0deg, #f7cfb5 0%, #ddaa88 100%);
}

@media screen and (min-width: 769px) {
  .EvenementCard {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 80%;
  }

  .EvenementCard h3 {
    font-size: 1.5em;
  }

  .bloc-descri {
    display: flex;
    flex-direction: row;
  }

  .photo {
    max-width: 230px;
  }

  .description-event {
    font-size: 1.2em;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .KidandFree {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .AwesomeIcon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
  }

  .Icon {
    height: 2rem;
  }

  .lieu {
    width: 200px;
  }

  .buttonecard {
    width: 200px;
    height: 60px;
  }
  .textebutton {
    font-size: 1em;
  }
}
