.EvenementCard {
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  width: 90%;
  align-items: center;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #666677;
  font-size: 0.75em;
  background-color: var(--primary-color);
  color: var(--brighter-color);
  margin-bottom: 2rem;
}

.EvenementCard h3 {
  padding: 20px;
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: 1.5em;
  color: var(--brighter-color);
}

.photo {
  max-width: 300px;
  padding: 10px;
}

.description-event {
  overflow: auto;
  height: 10rem;
}

p {
  margin-bottom: 2rem;
}

.icone {
  margin-bottom: 0.5em;
}

a {
  color: var(----darker-color);
  text-decoration: none;
}

.body-homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 200px;
  height: 50px;
  font-family: var(--title-font);
  text-align: center;
  background: #666677;
  background: linear-gradient(0deg, #ddaa88 0%, #f7cfb5 100%);
  border-radius: 5px;
  margin: 10px;
}

button:hover {
  background: #666677;
  background: linear-gradient(0deg, #f7cfb5 0%, #ddaa88 100%);
}
