* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f2f2f2;
}

.bannieremobile,
.bannieredesktop {
  width: 100%;
}

.liens {
  font-family: var(--title-font);
  display: flex;
  justify-content: space-around;
  background-color: #446699;
  flex: 1;
  justify-content: center;
}

.link {
  display: block;
  width: 100%;
  background-color: #446699;
  text-align: center;
}
img.bannieredesktop {
  display: none;
}
img.bannieremobile {
  display: block;
}

@media screen and (min-width: 769px) {
  img.bannieremobile {
    display: none;
  }
  img.bannieredesktop {
    display: block;
  }

  .liens {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    margin-right: 40px;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
  }

  .link {
    border-radius: 80px;
    width: 6rem;
    height: 6rem;
    box-shadow: 3px 3px 3px #666677;
  }

  a.link {
    text-align: center;
    line-height: 6;
  }
}
