:root {
  --primary-color: #446699;
  --brown-color: #ddaa88;
  --beige-color: #f7cfb5;
  --brighter-color: #f4edde;
  --darker-color: #666677;

  --title-font: "Happy Monkey";
  --body-font: "Kanit", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}
header {
  margin: 0;
  font-family: var(--title-font);
}
body {
  margin: 0;
  font-family: var(--body-font);
}
h1 {
  margin: 0;
}
footer {
  margin: 0;
  font-family: var(--body-font);
}
